body{
    margin: 0;
}
h1{
    font-size:45px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid ol{
    border-right: 1px solid gray;
    width: 100px;
    margin:0px;
    padding:20px;
    padding-left: 33px;
}
#article{
    padding-left: 25px;
}
@media(max-width:800px){ /*화면 크기가 800px보다 작거나 같다면*/
    #grid{
    display: block; /*grid였던 것이 block으로 바뀜*/
    }
    #grid ol{
    border-right: none;
    }
    h1{
        border-bottom: none;
    }
}